@import '../vendor/mixins';

.logo-link {
  @include positioning(fixed, 0, 0);
  width: 100px;
  margin: 0.5rem 2rem;
  z-index: 100000;
  &:hover .logo-2 {
    fill: $green;
  }
}

.logo-1 {
  fill: $black;
  font-family: $heading-font;
  font-weight: $font-weight-normal;
  font-size: 2.4rem;
}

.logo-2 {
  fill: $black;
  font-size: 3rem;
  font-family: $korean-font;
  font-weight: 800;
}

.logo-3 {
  fill: $black;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}
