@import '../vendor/mixins';

header {
  z-index: 99999;
}

.intro,
.techstacks,
.hello {
  @include positioning(relative, 0, 0);
  @include size(100%, 100%);
  @include media-breakpoint-between(null, md) {
    min-width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}

.heading {
  position: absolute;
  top: 20%;
  left: 1.7rem;
  transform: translateY(150px);
  margin: 0;
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease-out;
  z-index: 90000;
  padding: 0.5rem;
  color: $black;
  @include media-breakpoint-between(null, xs) {
    top: 15%;
  }
}

.heading.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
