@import './../vendor/mixins';

.size-1000 {
  @include size(62.5rem, 62.5rem);
}

.size-650 {
  @include size(40.625rem, 40.625rem);
}

.size-500 {
  @include size(31.25rem, 31.25rem);
}

.size-350 {
  @include size(21.875rem, 21.875rem);
}

.size-300 {
  @include size(18.75rem, 18.75rem);
}

.size-250 {
  @include size(15.625rem, 15.625rem);
}

.size-200 {
  @include size(12.5rem, 12.5rem);
}

.size-150 {
  @include size(9.375rem, 9.375rem);
}

.size-130 {
  @include size(8.125rem, 8.125rem);
}

.size-100 {
  @include size(6.25rem, 6.25rem);
}

.size-80 {
  @include size(5rem, 5rem);
}

.size-70 {
  @include size(4.375rem, 4.375rem);
}

.size-60 {
  @include size(3.75rem, 3.75rem);
}

.size-50 {
  @include size(3.125rem, 3.125rem);
}

.size-40 {
  @include size(2.5rem, 2.5rem);
}

.size-30 {
  @include size(1.875rem, 1.875rem);
}

.size-20 {
  @include size(1.25rem, 1.25rem);
}

.size-10 {
  @include size(0.625rem, 0.625rem);
}

.orange {
  fill: $orange;
  &-stroke {
    fill: none;
    stroke: $orange;
  }
}

.blue {
  fill: $blue;
  &-stroke {
    fill: none;
    stroke: $blue;
  }
}

.green {
  fill: $green;
  &-stroke {
    fill: none;
    stroke: $green;
  }
}

.yellow {
  fill: $yellow;
  &-stroke {
    fill: none;
    stroke: $yellow;
  }
}

.stroke-w1 {
  stroke-width: 1px;
}

.stroke-w2 {
  stroke-width: 2px;
}

.stroke-w3 {
  stroke-width: 3px;
}

.stroke-w5 {
  stroke-width: 5px;
}

.stroke-w10 {
  stroke-width: 10px;
}

.stroke-w15 {
  stroke-width: 15px;
}
