*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: $font-weight-normal 16px / $line-height-base $base-font;
}

body,
header,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
