.heading {
  font: 400 2rem/1 $heading-font;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

.intro-text {
  font-weight: $font-weight-bold;
  font-size: $font-size-base * 3;
}

.intro-text::before,
.intro-text::after {
  font: 100 $font-size-base * 16 $intro-font;
}

.menu-item {
  font-size: $font-size-base * 2;
  font-weight: $font-weight-bold;
}

em {
  font-style: normal;
  font-weight: $font-weight-bold;
}
